<mat-card>
  <mat-card-content>
    <form [formGroup]="conditionalGroup">
      <div class="row">
        <mat-form-field appearance="fill" compact>
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput>
          <mat-error matErrorMessaging></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" compact>
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput>
          <mat-error matErrorMessaging></mat-error>
        </mat-form-field>
      </div>

      <mat-radio-group formControlName="isHuman">
        <mat-label>Are You Human</mat-label>
        <mat-radio-button [value]=true>Yes</mat-radio-button>
        <mat-radio-button [value]=false>No</mat-radio-button>
      </mat-radio-group>

      <mat-form-field *ngIf="race" appearance="fill" compact>
        <mat-label>Race</mat-label>
        <mat-select formControlName="race">
          <mat-option *ngFor="let race of races" [value]="race.value">
            {{ race.label }}
          </mat-option>
        </mat-select>
        <mat-error matErrorMessaging></mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button (click)="reset()" mat-button>RESET</button>
    <button (click)="save()" color="primary" mat-button>SAVE</button>
  </mat-card-actions>
</mat-card>
